*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 1rem;
}

.header{
    border:  1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    width: 50px;
}
.logo > img{
    width: 100%;
}

.header > ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}
.header > ul > a{
    text-decoration: none;
}

.restaurant-card{
    width: 194px;
    border: 1px solid black;
    margin: 1rem 1rem 1rem 0;
    text-align: center;
    height: 300px;
}

.restaurant-card > img{
    width: 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
.restaurant-list > a{
    text-decoration: none;
}

.footer{
    opacity: 0.5;
    text-align: center;
    margin-top: 5rem;
}

.recommended{
    z-index: 2;
}
.search-bar{
    margin-top: 1rem;
    text-align: center;
    display: flex;
}
.search-bar >input{
    width: 100%;
    height: 30px;
    text-align: center;
}
.button{
    width:60px;
    margin-left: 1rem;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer{
    width: 200px;
    height: 250px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    margin: 16px;

}

.restaurant-details{
    display: flex;
}