body{
    margin: 1rem;
}

.header{
    border:  1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    width: 100px;
}
.logo > img{
    width: 100%;
}

.header > ul{
    list-style: none;
    display: flex;
}
.header > ul > li{
    padding-left: 1rem;
}


.footer{
    opacity: 0.5;
}